/* Main */
#main {
  > * {
    &:first-child {
      border-top: 0;
    }

    @include inner;
  }

  &.alt {
    background-color: transparent;
    border-bottom: solid 1px _palette(border);
  }

  header {
    .major {
      width: 60%;
      transition: background 0.25s ease-in-out;
      transition: color 0.25s ease-in-out;
    }
  }

  .intro {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @include breakpoint(small) {
      flex-direction: column;
      align-content: initial;
      justify-content: initial;
      margin: 0;
    }

    .facts {
      width: 70%;
      height: 100%;

      @include breakpoint(small) {
        width: 100%;
      }
    }

    .aboutMe {
      width: 30%;
      height: 100%;

      @include breakpoint(small) {
        width: 200px;
        height: 100%;
        padding-top: 20px;
      }
    }

    &.work {
      display: block;
      margin: 20px auto;
      text-align: center;

      .separator {
        margin: 0 auto;
        width: 12px;

        &::after {
          background: rgba(255, 255, 255, 0.2);
        }
      }

      h2 {
        text-shadow: 1px 0px #fff;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        margin: 0;
      }
    }

    @include breakpoint(small) {
      display: block;
    }

    div {
      width: 50%;

      @include breakpoint(small) {
        width: 100%;
        margin: 20px 0;
      }

      ul {
        margin: 0;
      }

      img {
        height: 100%;
        margin: 0 auto 0;
        display: flex;
      }
    }
  }

  .position {
    margin: 20px;
    border: none;
    text-align: left;
    text-transform: uppercase;
  }

  .hide {
    display: none;
  }
}
